@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  /* menu.css */
  --btn-primary: #8d6e5a;
  --btn-hover: #6b4e3d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    /* menu.css */
    --btn-primary: #333333;
    --btn-hover: #222222
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  /* Menu.css */
  .bg-gradient-custom {
    background: linear-gradient(to bottom, var(--background-light), var(--background-dark));
  }

}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  flex: 1;
  /* This ensures the main content takes up the available space */
}

#scrollableDiv {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
}